Django>=5.0,<5.1
djangorestframework>=3.15,<3.16
django-filter>=24.2,<25
drf-spectacular>=0.27,<0.28
django-cors-headers>=4.4,<5
psycopg[binary]>=3.2,<4
pytest>=8.2,<9
pytest-django>=4.8,<5
factory-boy>=3.3,<4
gunicorn>=23,<24
uvicorn-worker>=0.4,<0.5
django-storages[s3]>=1.14,<1.15
sentry-sdk[django]>=2.20,<3
